### 2020 day 5

F means "front", B means "back", L means "left", and R means "right".

For example, consider just the first seven characters of FBFBBFFRLR:

    Start by considering the whole range, rows 0 through 127.
    F means to take the lower half, keeping rows 0 through 63.
    B means to take the upper half, keeping rows 32 through 63.
    F means to take the lower half, keeping rows 32 through 47.
    B means to take the upper half, keeping rows 40 through 47.
    B keeps rows 44 through 47.
    F keeps rows 44 through 45.
    The final F keeps the lower of the two, row 44.

The last three characters will be either L or R; these specify exactly one of the 8 columns of seats on the plane (numbered 0 through 7). The same process as above proceeds again, this time with only three steps. L means to keep the lower half, while R means to keep the upper half.

For example, consider just the last 3 characters of FBFBBFFRLR:

    Start by considering the whole range, columns 0 through 7.
    R means to take the upper half, keeping columns 4 through 7.
    L means to take the lower half, keeping columns 4 through 5.
    The final R keeps the upper of the two, column 5.

So, decoding FBFBBFFRLR reveals that it is the seat at row 44, column 5.

Every seat also has a unique seat ID: multiply the row by 8, then add the column. In this example, the seat has ID 44 * 8 + 5 = 357.

In [1]:
seat = [0, 0, 0]
seat

[0, 0, 0]

In [2]:
def F(row):
    x, y = row
    y = y - (y - x - 1)/2 -1
    return (x, y)

def B(row):
    x, y = row
    x = x + (y - x -1)/2 + 1
    return (x, y)

def R(col):
    x, y = col
    x = x + (y - x -1)/2 + 1
    return (x, y)

def L(col):
    x, y = col
    y = y - (y - x - 1)/2 -1
    return (x, y)

def ID(row, col):
    return row*8+col

In [3]:
row = (0, 127)
row = F((row))
row

(0, 63.0)

In [4]:
row = B(row)
row

(32.0, 63.0)

In [5]:
row = F((row))
row

(32.0, 47.0)

In [6]:
row = B(row)
row

(40.0, 47.0)

In [7]:
row = B(row)
row

(44.0, 47.0)

In [8]:
row = F((row))
row

(44.0, 45.0)

In [9]:
row = F((row))
row

(44.0, 44.0)

In [10]:
col = (0, 7)
col = R(col)
col

(4.0, 7)

In [11]:
col = L(col)
col

(4.0, 5.0)

In [12]:
col = R(col)
col

(5.0, 5.0)

In [13]:
seat_ID = ID(row[0], col[0])
seat_ID

357.0

In [14]:
l='FBFBBFFRLR'
row = (0, 127)
for i in l[0:7]:
    if i=='F':
        row=F(row)
    elif i=='B':
        row=B(row)
    print(row)
row

(0, 63.0)
(32.0, 63.0)
(32.0, 47.0)
(40.0, 47.0)
(44.0, 47.0)
(44.0, 45.0)
(44.0, 44.0)

(44.0, 44.0)

In [15]:
def find_seat(l):
    # initialize
    row=(0, 127) 
    col=(0, 7) 
    
    # find row
    for i in l[0:7]:
        if   i=='F':
            row=F(row)
        elif i=='B':
            row=B(row)

    # find col
    for j in l[7:10]:
        if   j=='L':
            col=L(col)
        elif j=='R':
            col=R(col)
            
    # find ticket ID        
    id = ID(row[0], col[0])
    
    return [row[0], col[0], id]

In [16]:
l='FBFBBFFRLR'
#seat = [0, 0, 0] # initialize
seat = find_seat(l)
seat

[44.0, 5.0, 357.0]

In [17]:
with open('2020_day5.txt', 'r') as f:
    data = f.readlines()

max_id = 0
for l in data:
    seat = find_seat(l)
    if seat[2] > max_id:
        max_id = seat[2]
    
print('max ID:', int(max_id))

max ID: 978

In [18]:
# part 1

def F(row):
    x, y = row
    y = y - (y - x - 1)/2 -1
    return (x, y)

def B(row):
    x, y = row
    x = x + (y - x -1)/2 + 1
    return (x, y)

def R(col):
    x, y = col
    x = x + (y - x -1)/2 + 1
    return (x, y)

def L(col):
    x, y = col
    y = y - (y - x - 1)/2 -1
    return (x, y)

def ID(row, col):
    return row*8+col

def find_seat(l):
    # initialize
    row=(0, 127) 
    col=(0, 7) 
    
    # find row
    for i in l[0:7]:
        if i=='F':
            row=F(row)
        elif i=='B':
            row=B(row)

    # find col
    for j in l[7:10]:
        if j=='L':
            col=L(col)
        elif j=='R':
            col=R(col)
    
    # find ticket ID        
    id = ID(row[0], col[0])
    
    return [row[0], col[0], id]


with open('2020_day5.txt', 'r') as f:
    data = f.readlines()

max_id = 0
for l in data:
    seat = find_seat(l)
    if seat[2] > max_id:
        max_id = seat[2]
    
print('max ID:', int(max_id))

max ID: 978

### part 2

In [19]:
# part 2
id_list = []
for l in data:
    seat = find_seat(l)
    id_list.append(seat[2])

id_list.sort()
for i in range(0, len(id_list)-1):
    if id_list[i+1]-id_list[i]!=1:
        print('my ticket id:', int(id_list[i]+1))

my ticket id: 727